<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Django MagicLink Login sent - Please override this template</title>
  <meta name="description" content="Django MagicLink">
  <meta name="author" content="Django MagicLink">
</head>

<body>
  <h1>Login failed</h1>
  <p>It was not possible to log you in due to:</p>
  <p>{{ login_error }}</p>

  <p>There are several possible ways for logins to fail with the current Django MagicLink settings:</p>
  <ul>
    <li>The URL you are trying to use is malformed</li>
    <li>The magic link you tried to use has expired</li>
    <li>You have already used this magic link to login before</li>
    {% if ONE_TOKEN_PER_USER %}
    <li>You have requested another magic causing this magic link to become invalid</li>
    {% endif %}
    {% if REQUIRE_SAME_BROWSER %}
    <li>You are using a different browser to when you requested the login link</li>
    {% endif %}
    {% if REQUIRE_SAME_IP %}
    <li>You are trying to login from a different location or machine that you requested the login link from</li>
    {% endif %}
    {% if not ALLOW_SUPERUSER_LOGIN or not ALLOW_STAFF_LOGIN %}
    <li>You are a superuser or staff user</li>
    {% endif %}
  </ul>

  <p>If you are seeing this you have not yet overridden the 'MAGICLINK_LOGIN_FAILED_TEMPLATE_NAME' setting yet.</p>
  <p>Please see the <a href="https://github.com/pyepye/django-magiclink">README on Github</a> for more details on setting up django-magiclink correctly</p>
</body>
</html>
